def break1 (s):
  highScore=0
  lowScore=0
  countHigh=0
  countLow=0
  for i in range(len(s)):
      if i ==0 :
          highScore=lowScore=s[i]
      elif s[i] > highScore :
          highScore=s[i]
          countHigh +=1
      elif s[i] < lowScore :
          lowScore=s[i]
          countLow +=1
  print (countHigh,countLow)
s=list(map(int,input("in one line : ").split()))
break1(s)
